doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        link(rel="stylesheet" href="../tmp/styles/main.css")
body(ng-app="mainApp" ng-controller="MainController" ng-cloak)
    .login(ng-class="{'display': !graphs}")
        .cont-inputs
            .block
                span(class="text") Nombre
                input(type="text" ng-model="name")
            .block
                span(class="text") Contraseña
                input(type="password" ng-model="pass")
            .block
                button(class="btn-first" ng-click="loginSuccess(name, pass)") Continuar
            .block
                span.error(ng-class="{'display': errorUser}") *Usuario y/o contraseña incorrecta
    svg(id="svg" ng-class="{'display': graphs}")
        defs
            linearGradient(id="Gradient1" x1="0" x2="0" y1="0" y2="1")
                stop(offset="0%" stop-color="rgb(0, 189, 242)")
                stop(offset="100%" stop-color="rgb(0, 45, 114)")
    // bower:js
    // endbower
    script(src="../tmp/scripts/main.js")
    script(src="../tmp/scripts/controllers/commonServices.js")
    script(src="../tmp/scripts/controllers/commonControllers.js")