/// Element svg
svg {
  display: none;
  width: 100%;
  margin-top: 100px;
  background: linear-gradient(to bottom, rgb(0, 118, 192), rgb(0, 45, 114));
}

/// Style for display graph
.display {
  display: block !important;
}

/// Axis in graph
.axis text {
  font: 10px sans-serif;
  fill: #ffffff;
}

/// Axis line divisor
.axis path,
.axis line {
  fill: none;
  stroke: transparent;
  shape-rendering: crispEdges;
}

/// Area gradient in graph
.area {
  fill: url(#Gradient1);
  stroke: transparent;
  stroke-width: 1.5px;
  height: 0px;
}

/// 'Border' animatable in graph
.line {
  fill: none;
  stroke: rgb(0, 189, 242);
  stroke-width: 2.5px;
}
