/// Margin zero for the all elements
* {margin: 0;}
/// First style for body
body {
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
}

/// Input styles
input {
    border-radius: 5px;
    padding: 10px;
    border: 0;
    outline: none;
    min-width: 100px;
    margin: auto 0;
    /// Style when focus input
    &:focus {
        box-shadow: 0px 0px 30px #002D72;
    }
}

/// Styles box login
.login {
    display: none;
    text-align: center;
    background-color: #0076C0;
    border: 3px solid #002D72;
    border-radius: 10px;
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 25vw;
    /// Content inside box
    .cont-inputs {
        width: 80%;
        padding: 5% 10%;
        /// Blocks inside box
        .block {
            display: block;
            margin: 30px 0 20px;
            text-align: center;
            /// Text span
            .text {
                display: block;
                font-size: 20px;
                margin-bottom: 10px;
            }
            /// Button login
            .btn-first {
                max-width: 200px;
                cursor: pointer;
                border-radius: 10px;
                font-size: 20pt;
                font-weight: bold;
                margin: auto;
                width: 60%;
                padding: 10px 20px;
                border: none;
                outline: none;
                background-image: linear-gradient(90deg, #ffffff,#cccccc);
                /// Button login hover
                &:hover {
                    background-image: linear-gradient(90deg, #000000, #666666);
                    color: #ffffff;
                }
            }
            /// Text error
            .error {
                display: none;
                color: #ff9933;
            }
        }
    }
}